:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
  height: 72px;
  display: flex;
}

.header-container {
  background-color: #ffffff;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.nav-page {
  display: flex;
}
.link-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-item {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-nav:hover,
.menu-nav:focus,
.menu-nav:active {
  color: var(--ocean);
}

.nav-link {
  padding: 24px 0;
}
.contacts {
  color: var(--slate);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-item:hover,
.contacts-item:active,
.contacts:focus {
  color: #404bbf;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
}
.contacts-mail {
}
.contacts-tel {
}
.page-main {
}
.section-hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
}
.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-order-button {
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.hero-order-button:hover,
.hero-order-button:focus,
.hero-order-button:active {
  background-color: #404bbf;
}
.section-features {
  padding-bottom: 120px;
  padding-top: 194px;
}
.features-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1128px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.features-item {
  max-width: 264px;
}
.features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  padding-top: 120px 156px;
  background-color: #f4f4fd;
}
.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  background-color: var(--cloud);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  overflow: hidden;
}
.team-img {
  width: 264px;
  height: 260px;
}

.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-portfolio {
  padding: 120px 156px 129px 156px;
}

.portfolio-container {
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
  color: var(--navy-blue);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border: 1px solid var(--cornflower);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 32px;
}
.portfolio-card-set {
}
.portfolio-card-img {
}
.portfolio-img {
  width: 360px;
  height: 300px;
}
.portfolio-card-text {
  padding: 32px 16px;
}
.portfolio-name {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-text {
  text-align: left;
  padding: 32px 16px;
}
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  background-color: #2e2f42;
}
.footer-container {
  display: block;
}
.link-logo-footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-light {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
